/* Colors */ 
$dark: #000;
$white: #fff;
$headingBg: #f0f0f2;
$lightBg: #fafafa;
$text: #777777;
$textGrey: #555555;
$textDark: #222222;
$formText: #cbcbcb;
$borderInput: #ebebeb;
$textInput: #bebebe;
$labelColor: #28a200;

/* Fonts */ 
$fontFamily: "Roboto", sans-serif;
$fontFamilyLight: "Roboto-Light", sans-serif;
$fontFamilyBold: "Roboto-Bold", sans-serif;
$fontSize: 14px;
$fontSize-h1: 18px;
$fontSize-h2: 12px;
$fontSize-h3: 30px;
$fontSize-h4: 16px;